<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Title | Buisness | Town, AB</title>
</head>

<body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="landing">
        <div class="navBar">
        <img src="../images/logo2.png">

        

        <div class= burgerMenu>
            <input type="checkbox" id="burgerCheckbox" onclick="burgerMenu()"> <!--Have to be in same container to work-->
            <span></span>
            <span></span>
            <span></span>
            
        </div>
        <div class="hideOverFlow">
            <div id="menu">
                <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact</a></li>
                </ul>
            </div>
            
        </div>
        
        </div>
        

        <div class="introduction">
        <h1>Enter your main idea or selling point here!</h1>
        <p>Supporting information about the idea, Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptas.</p>
        <div class="learnMoreCallNow">
            <a href="index.html"><button>Learn More</button></a>
            <div class="callNow">
                <p class ="fa fa-mobile"></p>
                <div class="details">
                    <p id="callNowAboveNumber">CALL NOW</p>
                    <b>(403)123-4567</b>
                </div>
            </div>
        </div>
        </div>

    </div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->

    <div class=background><img src="../images/Wave2.svg"></div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="services">
        <div class="header"><h1>Our Services</h1></div>

        <div class="wrapper">
            <div class="servicesContainer">
                <div class="service service1">
                    <div class="fa fa-leaf"></div>
                    <h3>Service 1 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service2">
                    <div class="fa fa-pagelines"></div>
                    <h3>Service 2 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service3">
                    <div class="fa fa-usd"></div>
                    <h3>Service 3 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>

                <div class="service service4">
                    <div class="fa fa-leaf"></div>
                    <h3>Service 1 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service5">
                    <div class="fa fa-pagelines"></div>
                    <h3>Service 2 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service6">
                    <div class="fa fa-usd"></div>
                    <h3>Service 3 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
            
            </div>
        </div>
    
        <div class=wrapper><button>Contact Us</button></div>

     
       
    </div>
  

<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
<div class="pricing">
    <div class="header"><h1>Pricing</h1></div>
    
    <div class="wrapper">
        <div class="pricingContainer">

            <div class="priceOption">
                <div class="fa fa-check topCheck"></div>
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                    </ul>
                </div>
    
            </div>
            <!-- <div class="priceOption">
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                    </ul>
                </div>
    
            </div>
            <div class="priceOption">
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                    </ul>
                </div>
    
            </div>
            <div class="priceOption">
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                        <li><p>Feature 1</p></li>
                    </ul>
                </div>
    
            </div> -->
            
        </div>
    </div>


</div>



<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING------------------------------------------->
<!-------------------------------------------------------------------------------------->
</body>
<footer>

</footer>

<script src="../scripts/script.js"></script>
</html>