<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;600;700&family=Roboto&display=swap" rel="stylesheet">
    <title>Title | Buisness | Town, AB</title>
</head>

<body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="landing">
        <div class="navBar">
        <img src="../images/logo2.PNG">

        

        <div class= burgerMenu>
            <input type="checkbox" id="burgerCheckbox" onclick="burgerMenu()"> <!--Have to be in same container to work-->
            <span></span>
            <span></span>
            <span></span>
            
        </div>
        <div class="hideOverFlow">
            <div id="menu">
                <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact</a></li>
                </ul>
            </div>
            
        </div>
        
        </div>
        

        <div class="introduction">
        <h1>Small Business Web Design & Development</h1>
        <p>100% uniquely designed websites created without the use of wordpress or other page builders!</p>
        <div class="learnMoreCallNow">
            <a href="index.html"><button>Learn More</button></a>
            <div class="callNow">
                <p class ="fa fa-mobile"></p>
                <div class="details">
                    <p id="callNowAboveNumber">CALL NOW TESt</p>
                    <b>(403) 913-5686</b>
                </div>
            </div>
        </div>
        </div>

    </div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->

    <div class=background><img src="../images/Wave2.SVG"></div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="services">
        <div class="header"><h1>WHAT WE DO</h1></div>
        <div class="wrapper">
            <div class="headerDescription">
                <p>We specialize in creating websites for small business owners located in Alberta. Every page is written by hand without the use of page builders to ensure optimal security and performance. Not only will our webpages outperform websites using page builders, but they will also bring more traffic and therefore more potential customers to your business. </p>
            </div>
        </div>
        <div class="wrapper">
            <div class="servicesContainer">
                <div class="service service1">
                    <div class="fa fa-cogs"></div>
                    <h3>Service 1 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service2">
                    <div class="fa fa-bolt"></div>
                    <h3>Service 2 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>
                <div class="service service3">
                    <div class="fa fa-lock"></div>
                    <h3>Service 3 provided here</h3>
                    <p>brief description of service if needed</p>
                </div>

                <div class="service service4">
                    <div class="fa fa-compress"></div>
                    <h3>Mobile First Design</h3>
                    <p>Google ranks your website among others based on how fast it loads. With mobile first design, we are able to minimize load time while achieving the same professional look.</p>
                </div>
                <div class="service service5">
                    <div class="fa fa-phone"></div>
                    <h3>Mobile Optimization</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="service service6">
                    <div class="fa fa-mobile"></div>
                    <h3>Mobile Optimization</h3>
                    <p>Over 60% of all internet traffic comes from mobile devices. We optimize the clients website for mobile devices to increase perfromance in search engines.</p>

                </div>
            
            </div>
        </div>
    
     
       
    </div>
  

<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
<div class="pricing">
    <div class="header"><h1>Pricing</h1></div>
    
    <div class="wrapper">
        <div class="pricingContainer">
            <div class="priceOption other">
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>

            <div class="priceOption popular">
                <div class="fa fa-check topCheck"></div>
                <div class="priceBox">
                    <h3>Pro</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>
            <div class="priceOption other">
                <div class="priceBox">
                    <h3>Express</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>


</div>



<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING------------------------------------------->
<!-------------------------------------------------------------------------------------->

<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------->
<!-------------------------------------------------------------------------------------->

<div class="portfolio">
    <div class="header"><h1>Portfolio</h1></div>

    <div class="wrapper">
        <div class="portfolioContainer">
            <img src="../images/portfolio1.PNG">
            <img src="../images/portfolio2.PNG">
            <img src="../images/portfolio3.PNG">
        </div>
    </div>


</div>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------->
<!-------------------------------------------------------------------------------------->

</body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<footer>
    <div class="logoAndDescription section">
        <div class=footerLogo><img src="../images/logo2.PNG"></div>
        <div class=description><p>Company description --> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut qui ipsa officia placeat tenetur aperiam incidunt explicabo velit sunt quibusdam!</p></div>
    </div>
    <div class="navigation section">
       <ul>
        <li><b>Company</b></li>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact</a></li>
       </ul>
    </div>
    <div class="socials section">
        <ul>
            <li><b>Social Media</b></li>
            <li><a href=""><div class="fa fa-instagram"></div>Instagram</a></li>
            <li><a href=""><div class="fa fa-twitter"></div>Twitter</a></li>
            <li><a href=""><div class="fa fa-facebook"></div>Facebook</a></li>
            <li><a href=""><div class="fa fa-linkedin"></div>LinkedIn</a></li>
        </ul>
    </div>
    <div class="contact section">
        <ul>
            <li><b>Get In Touch</b></li>
            <li><a href=""><div class="fa fa-map-marker"></div>Location, Province</a></li>
            <li><a href=""><div class="fa fa-phone"></div>(403) 123-4567</a></li>
            <li><a href=""><div class="fa fa-envelope"></div>Email@gmail.com</a></li>
        </ul>
    </div>
</footer>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<script src="../scripts/script.js"></script>
</html>