<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="100% uniquely designed websites created without page builders. We offer immense value starting at only $500">



    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    
    <title>Title | Buisness | Town, AB</title>
</head>

<body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="landing">
        <div class="navBar">
        <img src="../images/logo2.png" alt="companyLogo">

        

        <div class= burgerMenu>
            <input type="checkbox" id="burgerCheckbox" onclick="burgerMenu()"> <!--Have to be in same container to work-->
            <span></span>
            <span></span>
            <span></span>
            
        </div>
        <div class="hideOverFlow">
            <div id="menu">
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Services</a></li>
                <li><a href="index.html">Portfolio</a></li>
                <li><a href="index.html">Contact</a></li>
                </ul>
            </div>
            
        </div>
        
        </div>
        

        <div class="introduction">
        <h1>Small Business Web Design & Development</h1>
        <p>100% uniquely designed websites created without the use of wordpress or other page builders!</p>
        <div class="learnMoreCallNow">
            <a href="index.html"><button>Learn More</button></a>
            <div class="callNow">
                <p class ="fa fa-mobile"></p>
                <div class="details">
                    <p id="callNowAboveNumber">CALL NOW</p>
                    <b>(403)913-5686</b>
                </div>
            </div>
        </div>
        </div>

    </div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------LANDING-------------------------------------------->
<!-------------------------------------------------------------------------------------->

    <div class=background><img src="../images/Wave2.svg" alt="waveEffect"></div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->
    <div class="section services">
        <div class="header"><h1>WHAT WE PROVIDE</h1></div>
        <div class="wrapper">
            <div class="headerDescription">
                <p>We specialize in creating websites for small business owners located in Alberta. Every page is written by hand without the use of page builders to ensure optimal security and performance. Not only will our webpages outperform websites using page builders, but they will also bring more traffic and therefore more potential customers to your business. </p>
            </div>
        </div>
        <div class="wrapper">
            <div class="servicesContainer">
                <div class="service service4">
                    <div class="fa fa-mobile"></div>
                    <h3>Mobile First Design</h3>
                    <p>We start each website by building mobile first, then work our way up to larger screens such as desktops so customers can access your website from anywhere.</p>
                </div>
                <div class="service service1">
                    <div class="fa fa-gears"></div>
                    <h3>Optimization</h3>
                    <p>With mobile first design, your website will be optimized for phones which account for over 60% of all internet traffic. </p>
                </div>
                <div class="service service2">
                    <div class="fa fa-line-chart"></div>
                    <h3>Increased Traffic</h3>
                    <p>With mobile optimization alongside other search engine optomization (SEO) techniques, we are able to ensure your website is ranked favorably by Google.</p>
                </div>
                <div class="service service3">
                    <div class="fa fa-dollar"></div>
                    <h3>Value</h3>
                    <p>As we do not use page builders, our webistes are much more secure as they do not carry the risk of installing malicious plugins.</p>
                </div>
                <div class="service service5">
                    <div class="fa fa-phone"></div>
                    <h3>Edits</h3>
                    <p></p>
                </div>
                <div class="service service6">
                    <div class="fa fa-book"></div>
                    <h3>Web Development Videos</h3>
                    <p>Don't want to pay to make constant changes to your website? We will make basic tutorials for you on how to edit the content of your website!</p>

                </div>
            
            </div>
        </div>
    
     
       
    </div>
  

<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING-------------------------------------------->
<!-------------------------------------------------------------------------------------->
<div class="section pricing">
    <div class="header"><h1>Pricing</h1></div>

    <div class="wrapper">
        <div class="headerDescription">
            <p>Should be 500/site but what other options could there be?</p>
        </div>
    </div>
    
 
    <div class="wrapper">
        <div class="pricingContainer">
            <div class="priceOption other">
                <div class="priceBox">
                    <h3>Basic</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>

            <div class="priceOption popular">
                <div class="fa fa-check topCheck"></div>
                <div class="priceBox">
                    <h3>Pro</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>
            <div class="priceOption other">
                <div class="priceBox">
                    <h3>Express</h3>
                    <p>$150 / page</p>
                    <p class="addBorder">Extra Detail</p>
                    <div class="line"></div>
                </div>
                <div class="priceFeatures">
                    <ul>
                        <li><div class="fa fa-check"></div><p>Feature 1</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit.</p></li>
                        <li><div class="fa fa-check"></div><p>Lorem ipsum dolor sit amet consectetur.</p></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>


</div>



<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING------------------------------------------->
<!-------------------------------------------------------------------------------------->

<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------->
<!-------------------------------------------------------------------------------------->

<div class="section portfolio">
    <div class="header"><h1>Our Portfolio</h1></div>

    <div class="wrapper">
        <div class="headerDescription">
            <p>Take a look at some of our other work!</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="portfolioContainer">
            <img src="../images/portfolio1.webp" alt="physioTherapySite">
            <img src="../images/portfolio2.webp" alt="restaurauntSite">
            <img src="../images/portfolio3.webp" alt="generalPurposeSite">
        </div>
    </div>


</div>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------>
<!-------------------------------------------------------------------------------------->

</body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<footer>
    <div class="logoAndDescription section">
        <div class=footerLogo><img src="../images/logo2.png" alt="companyLogo"></div>
        <div class=description><p>Company description --> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut qui ipsa officia placeat tenetur aperiam incidunt explicabo velit sunt quibusdam!</p></div>
    </div>
    <div class="navigation section">
       <ul>
        <li><b>Company</b></li>
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html">About Us</a></li>
        <li><a href="index.html">Services</a></li>
        <li><a href="index.html">Contact</a></li>
       </ul>
    </div>
    <div class="socials section">
        <ul>
            <li><b>Social Media</b></li>
            <li><a href="index.html"><div class="fa fa-instagram"></div>Instagram</a></li>
            <li><a href="index.html"><div class="fa fa-twitter"></div>Twitter</a></li>
            <li><a href="index.html"><div class="fa fa-facebook"></div>Facebook</a></li>
            <li><a href="index.html"><div class="fa fa-linkedin"></div>LinkedIn</a></li>
        </ul>
    </div>
    <div class="contact section">
        <ul>
            <li><b>Get In Touch</b></li>
            <li><a href="index.html"><div class="fa fa-map-marker"></div>Camrose County</a></li>
            <li><a href="index.html"><div class="fa fa-phone"></div>(403)913-5686</a></li>
            <li><a href="index.html"><div class="fa fa-envelope"></div>Matsonj2013@gmail.com</a></li>
        </ul>
    </div>
</footer>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<script src="../scripts/script.js"></script>
</html>