.landing{
    .navBar{
        .burgerMenu{
            position: absolute;
        
            right: 40px;
            z-index: 4;
        }   
        input{
            display: block;
            position: absolute;
            top: -5px;
            right: -5px;
            width: 50px;
            height: 42px;
            opacity: 0%;
            z-index: 2;    
        }
        span{
            display: block;
            width: 40px;
            height: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: $primaryColor;
            transition: 0.3s ease-in;
         
        }
        span:nth-child(2){
            transform-origin: 0% 0%;
        }
        span:last-child{
            transform-origin: 0% 100%;
            
        }
        input:checked ~ span{
            transform: rotate(45deg) translate(0px, 0px);
            background-color: black;
        }
       
        input:checked ~ span:nth-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        input:checked ~ span:nth-child(4){
            transform: rotate(-45deg) translate(-5px, 4px);
        }
        .hideOverFlow{
            position: absolute;
            top: 0;
            right: 0;
            width: 175px;
            height: 600px;
            overflow-x: hidden;
            z-index: 3;
            #menu{
                background-color: $primaryColor;
                width: 100%;
                height: 100%;
                transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                transform: translate(200px);
               
                ul{ 
                    padding-right: 30px;
                    padding-top: 100px;
                    text-decoration: none;
                    list-style: none;
                    text-align: right;
                    li{
                        padding: 20px 5px; 
                        
                        a{
                            text-decoration: none;
                            color: black;  
                            font-size: 20px; 
                           
                          
                            padding-right: 8px;
                            font-weight: 600;
                            letter-spacing: 1px;

                            
                        }
                        a:hover{
                            border-right: 4px solid $secondaryColor;
                            cursor: pointer;
                        }
                    
                    }
                }
            }
        }

        
    }
}
@media(min-width:850px){
    .landing{
        .navBar{
            .burgerMenu{
                display: none;
            }
            .hideOverFlow{
                position: relative;
                height: 90px;
                width: 600px;
                padding-left: 25px;
                #menu{
                    transform: translateX(0) !important;
                    background-color: transparent;
                    z-index: 3;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;
                        padding: 0px 0px;
                        
                        li{
                            padding: 0;
                            transform: translateY(14px);
                            a{
                                border-right: none;
                                color: $primaryColor;
                                font-size: 15px;
                                transition: 0.5s ease-in-out;
                            }
                            a:hover{
                                border-right: none;
                            }
                            a:after{
                                display: block;
                                content: "";
                                border-bottom: 2px solid $primaryColor;
                                transform: scaleX(0);
                                transition: 250ms ease-in-out;
                              
                            }
                            a:hover::after{
                                transform: scaleX(1);
                                transform-origin: 50% 100%;
                                
                            }
                        }
                        
                    }
                }
            }
           
        }
        
    }
   
}