.introduction{
    width: 550px;
    height: fit-content;
    color: $primaryColor;
    z-index: 2;
    position: relative;
    padding-left: 20vw;
    padding-top: 70px;
    h1{
        font-size: 45px;
        padding-bottom: 15px;
        font-weight: 600;
    
    }
    p{
        font-size: 16px;
        
    }
    button{
        width: 150px;
        height: 50px;
        background-color: $primaryColor;
        border: 0px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;

        border-radius: 4px;
        margin-right: 20px;
        transition: 0.35s ease-in-out;
    }
    button:hover{
        box-shadow: inset 150px 0 0 0 $secondaryShade--;
        cursor: pointer;
    }
    .learnMoreCallNow{
        display: flex;
        padding-top: 20px;
        transition: 0.5s ease-in-out;
        .callNow{
            display: flex;
            
            .fa{
                font-size: 50px;
                margin-right: 8px;
            }
            #callNowAboveNumber{
                font-size: 16px;
                
            }
            .details{
                padding-top: 0px;
            }
            
        }
    }
}


@media(max-width:1200px){
    .introduction{
        padding-left: 10vw;
    }
}
@media(max-width:910px){
    .introduction{
       h1{
        font-size: 35px;
       }
    }
}
@media(max-width:650px){
    .introduction{
        width: 330px;
        padding-top: 10px;
    }
}
@media(max-width:430px){
    .introduction{
        padding-left: 10px;
        padding-top: 10px;
        button{
            margin-right: 10px;
        }
        p{
            font-size: 15px;
        }
    }
}