.landing{
    width: 100%;
    display: block;
    background: rgb(34,167,195);
    background: linear-gradient(68deg, rgba(34,167,195,1) 0%, rgba(15,51,191,1) 100%);
    
    .navBar{
        height: 200px;
        width: 100%;
        display: block;
        img{
            width: 150px;
            height: 200px;
        }
        .menu{
            background-color: $primaryColor;
            opacity: 50%;
            width: 80px;
            height: 300px;
            padding: 0px 10px;
            position: absolute;
            top: 0;
            right: 0;
            transition: ease-in-out;
            ul{
                padding-top: 50px;
                text-decoration: none;
                list-style: none;
                
                li{
                    padding-top: 25px;
                    a{
                        text-decoration: none;
                        color: black;     
                    }
                }
            }
        }
        
    }

    
    .background{
        height: 40vw;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
        }
       
    }
    
 
}