#portfolio{

    .portfolioContainer{
        max-width: 1900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);
            height: 350px;
            width: auto;
            margin: 10px 10px;
        }
    }
}

@media(max-width:800px){
    #portfolio{
        .portfolioContainer{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}