.pricing{
    padding-bottom: 50px;
    .pricingContainer{
        max-width: 1400px;
        position: relative;
        .priceOption{
            width: 350px;
            height: 450px;
            background-color: $primaryColor;
            border: 3px solid $secondaryColor;
            border-radius: 10px;
            
            .topCheck{
                position: absolute;
                top: 12px;
                left: 10px;
                font-size: 20px;
                color: $primaryColor;
            }
            .priceBox{
                transform: translateY(-40px);
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h3{
                    font-size: 50px;
                    font-weight: 100;
                    
                }
                p{
                    color: $secondaryColor;
                    font-weight: 600;
                }
                .addBorder{
                    position: relative;
                    width: 250px;
                    height: 20px;
                    border: 1px solid $secondaryShade--;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 300px;
                    z-index: 1;
                    background-color: $primaryColor;
                }
                .line{
                    position: relative;
                    width: 325px;
                    height: 1px;
                    border-top: 1px solid $secondaryShade--;
                    z-index: 0;
                    transform: translateY(-11px);
                }
            }
            .priceFeatures{
                ul{
                    padding: 20px 20px;

                    li{
                        display: flex;
                        padding-top: 15px;
                        .fa{    
                            position: relative;
                            color: $secondaryColor;
                            font-size: 20px;
                            padding-right: 7px;
                            transform: translateY(3px);
                        }
                    }
                }
            }
           
        }
        .priceOption::before{
            width: 0;
            height: 0;
            display: block;
            content: "";
            border-style: solid;
            border-width: 64px 64px 0px 0px;
            border-color: $secondaryColor transparent;
           
        }
    }
}