* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FAFAFA;
  color: #302f2f;
  width: 100%;
  overflow-x: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html {
  overflow-x: initial !important;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 {
  font-size: 45px;
}

.header ::after {
  display: block;
  content: "";
  border-bottom: 5px solid #1B7CC1;
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.landing {
  width: 100%;
  display: block;
  background: #22a7c3;
  background: linear-gradient(260deg, #22a7c3 0%, #0f33bf 100%);
  height: 699px;
}

.landing .navBar {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .navBar img {
  width: 400px;
  height: 100px;
  padding-left: 25vw;
}

.background {
  position: absolute;
  top: 400px;
  height: 300px;
  width: 100%;
  z-index: 1;
}

.background img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .landing .navBar img {
    padding-left: 10vw;
  }
}

@media (max-width: 910px) {
  .landing .navBar img {
    width: 300px;
    height: 75px;
  }
}

.landing .navBar .burgerMenu {
  position: absolute;
  right: 40px;
  z-index: 4;
}

.landing .navBar input {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 42px;
  opacity: 0%;
  z-index: 2;
}

.landing .navBar span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #FAFAFA;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.landing .navBar span:nth-child(2) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.landing .navBar span:last-child {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.landing .navBar input:checked ~ span {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
  background-color: black;
}

.landing .navBar input:checked ~ span:nth-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.landing .navBar input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px);
}

.landing .navBar .hideOverFlow {
  position: absolute;
  top: 0;
  right: 0;
  width: 175px;
  height: 600px;
  overflow-x: hidden;
  z-index: 3;
}

.landing .navBar .hideOverFlow #menu {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-transform: translate(200px);
          transform: translate(200px);
}

.landing .navBar .hideOverFlow #menu ul {
  padding-right: 30px;
  padding-top: 100px;
  text-decoration: none;
  list-style: none;
  text-align: right;
}

.landing .navBar .hideOverFlow #menu ul li {
  padding: 20px 5px;
}

.landing .navBar .hideOverFlow #menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-right: 8px;
  font-weight: 600;
  letter-spacing: 1px;
}

.landing .navBar .hideOverFlow #menu ul li a:hover {
  border-right: 4px solid #1B7CC1;
}

@media (min-width: 850px) {
  .landing .navBar .burgerMenu {
    display: none;
  }
  .landing .navBar .hideOverFlow {
    position: relative;
    height: 90px;
    width: 600px;
    padding-left: 15px;
  }
  .landing .navBar .hideOverFlow #menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
    z-index: 3;
  }
  .landing .navBar .hideOverFlow #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0px 0px;
  }
  .landing .navBar .hideOverFlow #menu ul li {
    padding: 0;
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
  .landing .navBar .hideOverFlow #menu ul li a {
    border-right: none;
    color: #FAFAFA;
    font-size: 15px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .landing .navBar .hideOverFlow #menu ul li a:hover {
    border-right: none;
  }
  .landing .navBar .hideOverFlow #menu ul li a:after {
    display: block;
    content: "";
    border-bottom: 2px solid #FAFAFA;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .landing .navBar .hideOverFlow #menu ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

.introduction {
  width: 550px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #FAFAFA;
  z-index: 2;
  position: relative;
  padding-left: 25vw;
  padding-top: 70px;
}

.introduction h1 {
  font-size: 45px;
  padding-bottom: 15px;
  font-size: bold;
}

.introduction p {
  font-size: 16px;
}

.introduction button {
  width: 150px;
  height: 50px;
  background-color: #FAFAFA;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  margin-right: 20px;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.introduction button:hover {
  -webkit-box-shadow: inset 150px 0 0 0 red;
          box-shadow: inset 150px 0 0 0 red;
  cursor: pointer;
}

.introduction .learnMoreCallNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.introduction .learnMoreCallNow .callNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction .learnMoreCallNow .callNow .fa {
  font-size: 50px;
  margin-right: 8px;
}

.introduction .learnMoreCallNow .callNow #callNowAboveNumber {
  font-size: 16px;
}

.introduction .learnMoreCallNow .callNow .details {
  padding-top: 0px;
}

.drone {
  -webkit-transform: translate(1000px, -300px);
          transform: translate(1000px, -300px);
}

.drone img {
  border-radius: 50%;
  width: 300px;
  height: auto;
}

@media (max-width: 1200px) {
  .introduction {
    padding-left: 10vw;
  }
}

@media (max-width: 910px) {
  .introduction h1 {
    font-size: 35px;
  }
}

.services {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  padding-bottom: 100px;
}

.services .servicesContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1401px;
}

.services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 250px;
  background-color: rgba(129, 129, 129, 0.089);
  background-color: #dee3e4;
  margin: 5px 5px;
  border-radius: 15px;
}

.services .service .fa {
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgba(30, 175, 71, 0.475);
  color: #1B7CC1;
}

.services .service h3 {
  font-size: 20px;
  font-weight: 600;
}

.services .service p {
  font-size: 15px;
}

.services button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
  border: 3px solid #1B7CC1;
  color: #1B7CC1;
  border-radius: 5px;
  font-size: 16px;
}

.pricing {
  padding-bottom: 50px;
}

.pricing .pricingContainer {
  max-width: 1300px;
}

.pricing .pricingContainer .popular {
  border: 4px solid #1B7CC1;
  position: relative;
}

.pricing .pricingContainer .other {
  border: 4px solid #dee3e4;
}

.pricing .pricingContainer .priceOption {
  width: 350px;
  height: 450px;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin: 15px 15px;
}

.pricing .pricingContainer .priceOption .topCheck {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 20px;
  color: #FAFAFA;
}

.pricing .pricingContainer .priceOption .priceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .pricingContainer .priceOption .priceBox h3 {
  font-size: 50px;
  font-weight: 100;
}

.pricing .pricingContainer .priceOption .priceBox p {
  font-weight: 600;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  padding-bottom: 11px;
}

.pricing .pricingContainer .priceOption .priceBox .addBorder {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  padding: 0px 15px;
  border: 1px solid #dee3e4;
  color: #1B7CC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 300px;
  z-index: 1;
  background-color: #FAFAFA;
}

.pricing .pricingContainer .priceOption .priceBox .line {
  position: relative;
  width: 290px;
  height: 1px;
  border-top: 1px solid #dee3e4;
  z-index: 0;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.pricing .pricingContainer .priceOption .priceFeatures ul {
  padding: 20px 20px;
}

.pricing .pricingContainer .priceOption .priceFeatures ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-left: 9px;
  font-size: 18px;
}

.pricing .pricingContainer .priceOption .priceFeatures ul li .fa {
  position: relative;
  color: #1B7CC1;
  font-size: 20px;
  padding-right: 7px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.pricing .pricingContainer .popular::before {
  width: 0;
  height: 0;
  position: absolute;
  top: 1;
  left: 1;
  display: block;
  content: "";
  border-style: solid;
  border-width: 64px 64px 0px 0px;
  border-color: #1B7CC1 transparent;
}

@media (min-width: 650px) {
  .pricingContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  width: 100%;
  height: 300px;
  background-color: #1B7CC1;
}
/*# sourceMappingURL=style.css.map */