* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FAFAFA;
  width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: initial !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}
.header h1 {
  font-size: 45px;
}
.header ::after {
  display: block;
  content: "";
  border-bottom: 5px solid #1B7CC1;
  transform: scaleX(0.3);
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.landing {
  width: 100%;
  display: block;
  background: rgb(34, 167, 195);
  background: linear-gradient(260deg, rgb(34, 167, 195) 0%, rgb(15, 51, 191) 100%);
  height: 700px;
}
.landing .navBar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.landing .navBar img {
  width: 400px;
  height: 100px;
  padding-left: 50px;
}

.background {
  height: 40vw;
  width: 100%;
  transform: translateY(-30vw);
  z-index: -1;
}
.background img {
  height: 100%;
  width: 100%;
}

.landing .navBar .burgerMenu {
  position: absolute;
  right: 40px;
  z-index: 1;
}
.landing .navBar input {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 42px;
  opacity: 0%;
  z-index: 2;
}
.landing .navBar span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #FAFAFA;
  transition: 0.3s ease-in;
}
.landing .navBar span:nth-child(2) {
  transform-origin: 0% 0%;
}
.landing .navBar span:last-child {
  transform-origin: 0% 100%;
}
.landing .navBar input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: black;
}
.landing .navBar input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.landing .navBar input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}
.landing .navBar .hideOverFlow {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 600px;
  overflow-x: hidden;
}
.landing .navBar .hideOverFlow #menu {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translate(200px);
  z-index: 1;
}
.landing .navBar .hideOverFlow #menu ul {
  padding-right: 30px;
  padding-top: 60px;
  text-decoration: none;
  list-style: none;
  text-align: right;
}
.landing .navBar .hideOverFlow #menu ul li {
  padding-top: 30px;
}
.landing .navBar .hideOverFlow #menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  border-right: 4px solid blue;
  padding: 5px 10px;
}

@media (min-width: 800px) {
  .landing .navBar .burgerMenu {
    display: none;
  }
  .landing .navBar .hideOverFlow {
    overflow: visible;
    position: relative;
    margin-left: auto;
    padding-right: 400px;
    height: 90px;
    width: 600px;
  }
  .landing .navBar .hideOverFlow #menu {
    transform: translateX(0);
    background-color: transparent;
  }
  .landing .navBar .hideOverFlow #menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0px 30px;
  }
  .landing .navBar .hideOverFlow #menu ul li {
    padding-top: 0px;
  }
  .landing .navBar .hideOverFlow #menu ul li a {
    border-right: none;
    color: #FAFAFA;
  }
}
.introduction {
  width: 550px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #FAFAFA;
  z-index: 1;
  position: relative;
  padding-left: 50px;
  padding-top: 30px;
}
.introduction h1 {
  font-size: 45px;
  padding-bottom: 15px;
}
.introduction p {
  font-size: 16px;
}
.introduction button {
  width: 150px;
  height: 50px;
  background-color: #FAFAFA;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  margin-right: 20px;
  transition: 0.35s ease-in-out;
}
.introduction button:hover {
  box-shadow: inset 150px 0 0 0 red;
  cursor: pointer;
}
.introduction .learnMoreCallNow {
  display: flex;
  padding-top: 20px;
  transition: 0.5s ease-in-out;
}
.introduction .learnMoreCallNow .callNow {
  display: flex;
}
.introduction .learnMoreCallNow .callNow .fa {
  font-size: 50px;
  margin-right: 8px;
}
.introduction .learnMoreCallNow .callNow #callNowAboveNumber {
  font-size: 16px;
}
.introduction .learnMoreCallNow .callNow .details {
  padding-top: 0px;
}

.drone {
  transform: translate(1000px, -300px);
}
.drone img {
  border-radius: 50%;
  width: 300px;
  height: auto;
}

.services {
  top: 680px;
  width: 100%;
  transform: translateY(-40vw);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.services .servicesContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1401px;
}
.services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 250px;
  background-color: rgba(129, 129, 129, 0.089);
  background-color: #E7EEEF;
  margin: 5px 5px;
  border-radius: 15px;
}
.services .service .fa {
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgba(30, 175, 71, 0.475);
}
.services .service h3 {
  font-size: 20px;
  font-weight: 600;
}
.services .service p {
  font-size: 15px;
}
.services button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
  border: 3px solid #1B7CC1;
  color: #1B7CC1;
  border-radius: 5px;
  font-size: 16px;
}

.pricing {
  transform: translateY(-38vw);
}
.pricing .pricingContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  max-width: 1600px;
}
.pricing .pricingContainer .priceOption {
  width: 300px;
  height: 450px;
  background-color: #1B7CC1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 15px 15px;
  box-shadow: 2.2px 4.3px 4.3px hsla(0deg, 0%, 0%, 0.43);
}
.pricing .pricingContainer .priceOption .priceBox {
  width: 85%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: #1B7CC1;
  box-shadow: 1.1px 2.2px 2.2px hsla(0deg, 0%, 0%, 0.47);
}
.pricing .pricingContainer .priceOption .priceBox p {
  font-size: 17px;
  font-weight: 600;
  padding-top: 8px;
}
.pricing .pricingContainer .priceOption .priceBox h3 {
  font-size: 45px;
  padding-top: 6px;
}
.pricing .pricingContainer .priceOption .priceBox h3:first-letter {
  font-weight: 100;
}
.pricing .pricingContainer .priceOption .priceFeatures {
  color: #FAFAFA;
}
.pricing .pricingContainer .priceOption .priceFeatures ul {
  list-style: none;
  padding-bottom: 25px;
}
.pricing .pricingContainer .priceOption .priceFeatures ul li {
  padding-bottom: 12px;
  font-size: 18px;
}
.pricing .pricingContainer .priceOption button {
  width: 150px;
  height: 45px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 25px;
  color: #1B7CC1;
  font-size: 16px;
  letter-spacing: 1.1px;
  box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */